@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  * {
    font-family: var(--font-poppins);
    letter-spacing: 1px;
  }

  html,
  body {
    background-color: var(--color-base-200) !important;
  }

  body {
    position: relative;
    height: 100vh;
    overflow-y: auto;
  }

  h1 {
    font-size: 2.25rem; /* 36px */
  }
  h2 {
    font-size: 1.875rem; /* 30px */
  }
  h3 {
    font-size: 1.5rem; /* 24px */
  }
  h4 {
    font-size: 1.25rem; /* 20px */
  }
  h5 {
    font-size: 1rem; /* 16px */
  }

  .ql-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  .ql-editor {
    word-break: break-word;
    white-space: pre-wrap;
    min-height: 100px; /* optional: set a min height */
    box-sizing: border-box;
  }

  .ql-toolbar.ql-snow {
    border: 0px solid !important;
    border-bottom: 1px solid var(--color-primary) !important;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: 0px solid !important;
  }

  .poppins-thin {
    font-weight: 100;
    font-style: normal;
  }

  .poppins-extralight {
    font-weight: 200;
    font-style: normal;
  }

  .poppins-light {
    font-weight: 300;
    font-style: normal;
  }

  .poppins-regular {
    font-weight: 400;
    font-style: normal;
  }

  .poppins-medium {
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-weight: 700;
    font-style: normal;
  }

  .poppins-extrabold {
    font-weight: 800;
    font-style: normal;
  }

  .poppins-black {
    font-weight: 900;
    font-style: normal;
  }

  .poppins-thin-italic {
    font-weight: 100;
    font-style: italic;
  }

  .poppins-extralight-italic {
    font-weight: 200;
    font-style: italic;
  }

  .poppins-light-italic {
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular-italic {
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium-italic {
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold-italic {
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold-italic {
    font-weight: 700;
    font-style: italic;
  }

  .poppins-extrabold-italic {
    font-weight: 800;
    font-style: italic;
  }

  .poppins-black-italic {
    font-weight: 900;
    font-style: italic;
  }
}
